.tags-selector__container {
    max-width: 650px;
    padding-top: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.tags-selector__selected-primary-tag {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tags-selector__tag-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
