@import '../../constants/ui-constants';

.search-results-page {
    width: 88%;
    margin: 0 auto;

    &__loading-spinner {
        margin: 60px auto auto;
        text-align: center;
        font-family: @app-font-light;
    }

    &__top-spacing {
        width: 100%;
        margin: 20px 0 0;
        height: calc(12vh - 70px);
    }

    &__title {
        margin: 0 auto 15px;
        text-align: left;
        font-family: @app-font-medium;
        font-size: @app-font-size-extra-large;

        @media (max-width: @app-viewport-breakpoint-mobile) {
            margin-top: 30px;
            font-size: 6vw;
            text-align: center;
        }
    }
}