.search-results-page {
    width: 88%;
    margin: 0 auto;
}

.search-results-page__loading-spinner {
    margin: 60px auto auto;
    text-align: center;
    font-family: var(--app-font-light);
}

.search-results-page__top-spacing {
    width: 100%;
    margin: 20px 0 0;
    height: calc(12vh - 70px);
}

.search-results-page__title {
    margin: 0 auto 15px;
    text-align: left;
    font-family: var(--app-font-medium);
    font-size: var(--app-font-size-extra-large);
}

.search-results-page__title--mobile {
    margin-top: 10px;
    font-size: 6vw;
    text-align: center;
}

.search-results-page__scroll-arrow {
    position: absolute;
    z-index: 1000;
    margin-top: 150px;
    width: 40px;
    height: 40px;
}

.search-results-page__scroll-arrow-left {
    left: 2%;
}

.search-results-page__scroll-arrow-right {
    right: 2%;
}

.search-results-page__scroll-arrow-left-icon {
    transform: rotate(90deg);
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .7));
}

.search-results-page__scroll-arrow-right-icon {
    transform: rotate(-90deg);
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .7));
}

.search-results-page__results-list {
    margin-top: 20px;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    margin-left: calc(-6% / 0.88);
    margin-right: calc(-6% / 0.88);
    padding-left: calc(6% / 0.88);
    padding-right: calc(6% / 0.88);
    mask-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.9) 5%, rgba(0,0,0,1) 6%, rgba(0,0,0,1) 94%, rgba(0,0,0,0.9) 95%, rgba(0,0,0,0.2) 100%);
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0.2)), color-stop(5%, rgba(0,0,0,0.9)), color-stop(6%, rgba(0,0,0,1)), color-stop(94%, rgba(0,0,0,1)), color-stop(95%, rgba(0,0,0,0.9)), color-stop(100%, rgba(0,0,0,0.2)));

    scrollbar-width: none;
}

.search-results-page__results-list::-webkit-scrollbar {
    display: none;
}

.search-results-page__results-list--mobile {
    overflow-x: hidden;
    overflow-y: scroll;

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    mask-image: none;
    -webkit-mask-image: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}
