.page-layout__content-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.page-layout__main-content {
    overflow: auto;
    flex-grow: 1;
}
