@import '../../../constants/ui-constants.css';

.tag {
    font-family: var(--app-font-regular);
    border: white 2px solid;
    color: white;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.tag:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #f46e7a;
}

.tag--selected, .tag--selected:hover {
    background: white;
    color: #f46e7a;
}

.tag--medium {
    font-family: var(--app-font-regular);
    border-radius: 100px;
    font-size: 1.7vh;
    padding: 0.4em 1.3em;
    margin: 5px;
}

.tag--large {
    font-family: var(--app-font-medium);
    border-radius: 120px;
    font-size: 2.3vh;
    padding: 0.5em 1.5em;
    margin: 7px;
}

