/node_modules
/vendor
.env
.phpunit.result.cache
/api/vendor
/api/.env
/api/.phpunit.result.cache
/frontend/node_modules
/frontend/public/css
/frontend/public/fonts
/frontend/public/images
/frontend/public/js
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
.idea
.env.local
.env.prod
/.metals
deploy.env.ini