.tag {
    border: white 2px solid;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-size: 1.8vh;
    display: inline-block;
    cursor: pointer;
    padding: 0.4em 1.3em;
    margin: 5px;
}

.tag:hover {
    background: white;
    color: #f46e7a;
}

.tag--selected {
    background: white;
    color: #f46e7a;
}
