.tag {
    border: white 2px solid;
    border-radius: 100px;
    padding: 0.6em 1.75em;
    color: white;
    text-decoration: none;
    font-size: 2vh;
    float: left;
    display: inline-block;
    cursor: pointer;
    margin: 2px;
}

.tag:hover {
    background: white;
    color: #f46e7a;
}

.tag--selected {
    background: white;
    color: #f46e7a;
}
