@import '../../constants/ui-constants.css';

.tag {
    font-family: var(--app-font-medium);
    border: white 2px solid;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-size: 1.8vh;
    display: inline-block;
    cursor: pointer;
    padding: 0.4em 1.3em;
    margin: 5px;
}

.tag:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #f46e7a;
}

.tag--selected, .tag--selected:hover {
    background: white;
    color: #f46e7a;
}

