@import '../../constants/ui-constants';

.input-field {
    font-size: @app-font-size-medium;
    font-family: @app-font-light;
    padding: 10px;

    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-bottom: 15px;

    &--full-width {
        width: 100%;
    }

    &__textarea {
        resize: none;
    }

    &__input {
        height: 40px;
    }
}
