@font-face {
    font-family: 'Montserrat-Light';
    src: url("../assets/fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../assets/fonts/Montserrat-Regular.otf");
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../assets/fonts/Montserrat-Medium.otf");
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url("../assets/fonts/Montserrat-Black.otf");
}


:root {
    --app-font-light: 'Montserrat-Light';
    --app-font-regular: 'Montserrat-Regular';
    --app-font-medium: 'Montserrat-Medium';
    --app-font-black: 'Montserrat-Black';

    --app-font-size-extra-small: 8px;
    --app-font-size-small: 10px;
    --app-font-size-medium: 13px;
    --app-font-size-large: 18px;
    --app-font-size-extra-large: 30px;

    --app-color-green: #1ebf74;
    --app-color-green-2: #1fa549;

    --app-color-yellow: #bf8426;

    --app-color-red: #bf3442;
}
