@import '../../constants/ui-constants';

.suggestion-modal-content {
    font-family: @app-font-regular;
    text-align: center;
    color: black;
    width: 350px;

    &__title {
        font-family: @app-font-medium;
        font-size: @app-font-size-large;
        margin-bottom: 3px;
    }

    &__subtitle {
        font-family: @app-font-regular;
        font-size: @app-font-size-medium;
        margin-bottom: 15px;
    }

    &__body {
        font-size: @app-font-size-medium;
    }

    &__address-input {
    }

    &__description-input {
        height: 120px;
    }

    &__buttons {
        height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
    }

    &__submit-error {
        color: @app-color-background-red;
        font-size: @app-font-size-medium;
        font-family: @app-font-regular;
        text-align: center;
        margin-top: 10px;
    }
}
