@import '../../../constants/ui-constants.css';

.header-modal {
}

.header-modal__container {
    width: 200px;
    padding: 20px;
    background: rgba(237,237,237,0.90);
    border-radius: 8px;
    box-shadow: 4px 4px 10px 1px rgba(85,85,85,0.46);
}

