.search-page {
    padding-top: 2rem;
    width: 88%;
    margin: 6vh auto 0 auto;
    max-width: 800px;
}

.search-page__title {
    font-family: var(--app-font-medium);
    text-align: center;
    font-size: 4vh;
    margin-bottom: 15px;
}

.search-page__subtitle {
    font-family: var(--app-font-regular);
    text-align: center;
    font-size: 2.5vh;
}
