.search-page {
    width: 88%;
    margin: 0 auto 0;
    max-width: 800px;
}

.search-page__top-spacing {
    width: 100%;
    margin: 20px 0 0;
    height: calc(17vh - 70px);
}

.search-page__title {
    font-family: var(--app-font-medium);
    text-align: center;
    font-size: var(--app-font-size-extra-large);
    margin-top: 0;
    margin-bottom: 15px;
}

.search-page__title--mobile {
    font-size: 6vw;
}

.search-page__subtitle {
    font-family: var(--app-font-regular);
    text-align: center;
    font-size: var(--app-font-size-large);
}

.search-page__subtitle--mobile {
    font-size: 4vw
}
