{
    "presets": [
      [
        "@babel/env",
        {
          "targets": {
            "browsers": [
              "last 2 versions",
              "not dead",
              ">0.25%",
              "not ie 11"
            ]
          }
        }
      ],
      "@babel/react"
    ],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-proposal-class-properties"
    ]
  }
  