@import '../../constants/ui-constants.css';

.about-page {
    color: white;
    font-size: var(--app-font-size-medium);
    font-family: var(--app-font-regular);

    margin: auto;
    width: 72%;
}

.about-page__header {
    text-align: center;
    margin-bottom: 30px;

    font-size: var(--app-font-size-extra-large);
    font-family: var(--app-font-medium);
}

.about-page__content {
    margin-bottom: 30px;
}

.about-page p {
    text-align: justify;
    width: 100%;
}

.about-page a {
    color: white
}

