/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }

/*–––––––––––– Global –––––––––––*/
*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html{
	font-family: montserrat, sans-serif;
}
body{
	position: relative; /*--keep the footer to the bottom--*/
}
.landing{
	background-image: linear-gradient(-240deg, #F46D7B, #FB9E3A);
	background-repeat: no-repeat;
	background-size: cover; /*--Allow responsive--*/
	background-position: center;
	height: 100vh;
	width: 100%;
	overflow-y:hidden;
	min-height: 600px;
	border: 2.5vw solid white;
	box-sizing: border-box; /*--Border inside (and not outside)--*/
}
#admin .landing{
	background-image: linear-gradient(-240deg, #125170, #1B6796);
}
h1{
	font-size: 4vh;
	margin-bottom: 15px;
	text-align: center;
	color:white;
	font-weight: 500;
}

#phase4 h1{
	text-align: left;
}
p{
	font-size: 2.5vh;
	margin-bottom: 3%;
	text-align: center;
	color:white;
	font-weight: 100;
}
#phase4 p{
	text-align: left;
}
a{ 
	font-size: 13px; /*--text nav bar--*/
}

/*–––––––––––– Landing –––––––––––*/

.nav{
	padding-top: 5vh;
}
.pages{
	float: right;
	text-align: right;
	margin-top: 4.4vh;
}
.pages a{ /*--nav bar*/
	text-decoration: none;
	color:white;
	vertical-align:middle;
	margin-left: 20px;
}
.logo{
	width: 12vh;
	vertical-align: middle;
}
.landingWrapper{ /*--page width (logo to nav bar)--*/
	width: 88%;
	margin:auto;
	padding-bottom: 4rem;
}
.landingContent{
	width: 88%;
	margin:6vh auto 0 auto;
	max-width: 650px;
}
#phase4 .landingContent{
	width: 100%;
	max-width: 3000px;
	margin-left: 0px;
}

.table{ /*--contain Bar and below--*/
	display: table;
	margin:0 auto;
}
.bar{
	background-color: rgba(255,255,255,0.90);
	border-radius: 100px;
	height: 35px;
	margin-top: 25px;
	max-width: 650px;
}
.bar2{ /*--only for phase3--*/
	background-color: rgba(255,255,255,0.90);
	border-radius: 100px;
	height: 35px;
	margin-top: 25px;
	width: 60vw;
	max-width: 650px;
}
.arrow{
	height: 35px;
	background-size: cover;
	-webkit-filter: drop-shadow(2px 2px 2px rgba(175,175,175,0.56));
	  filter: drop-shadow(2px 2px 2px rgba(175,175,175,0.56));
	cursor: pointer;
}

/*--
.box{
	width:300px;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: center;
}
--*/

/*–––––––––––– Recherche phase3 –––––––––––*/

.bar2 input[type="text"]{
	width: 450px;
	height: 35px;
	position: absolute;
	margin-left: 10px;
	outline:none;
	color: #202121;
	font-size: 15px;
	caret-color: color;
	
}
.bar2 input[type="submit"]{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #2ecc71;
	padding: 14px 40px;
	outline:none;
	color: white;
	border-radius: 24px;
}

::placeholder{
	color: grey;
}


/*–––––––––––– Categories –––––––––––*/

.btnOne{
	border:white 2px solid;
	border-radius: 100px;
	padding: 0.6em 1.75em;
	margin-top: 0.8em;
	color: white;
	text-decoration: none;
	font-size: 2vh;
	float: left;
	display: inline-block;
	cursor: pointer;
}

.btnOneSelected{
	background: white;
	color: #F46E7A;
}

ul#categories{ /*group categorie*/
	height: 700px;
	max-width: 650px;
	padding-top: 2em;
	text-align: center;
	margin-bottom: 10px;
}
ul#categories li{
	display: inline;
	margin: 3px;
	white-space: nowrap;
}
.ressources1{
	width: 213px;
  	height: 100px;
	object-fit: cover;
	padding: 3.5px;
	box-sizing: border-box; /*--padding only inside--*/
  	filter: drop-shadow(3px 3px 3px rgba(46,46,46,0.30));
}
.ressources1:hover{
	opacity: 0.8;
}
.ressources1:focus{
	opacity: 0.2;
}


/*–––––––––––– phase4 –––––––––––*/

#categories2{ /*group all website*/
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 40px;
	height:325px;
}
.rDescription{ /*group the website img and its description*/
	background: white;
	display: inline-block;
	height: 300px;
	width: 300px;
	margin-right: 40px;
	filter: drop-shadow(3px 3px 3px rgba(46,46,46,0.30));
	vertical-align: middle;
}
.ressources2{ /*only img website*/
	width: 300px;
  	height: 150px;
	object-fit: cover;
}

h3{
	margin: 10px 15px 0px 15px;
	white-space: pre-wrap;
}

#categories2 p{
	margin: 10px 15px 10px 15px;	
	color: black;
	font-size: 15px;
	white-space: pre-wrap;
}
.rDescription a{
	color: #6F6F6F;
	font-size: 12px;
}


/*–––––––––––– Admin –––––––––––*/
.addWebsite{
	height: 200px;
	background: white;
	opacity: 0.8;
	border-radius: 5px;
	margin: 15px;
}


/*–––––––––––– Footer –––––––––––*/

.footer{
	width: 90%;
	position: absolute;
	bottom: 1.5vw;
	left: 50%;
	transform: translateX(-50%);
}
.footer p{
	color: white;
	display: inline-block;
	font-size: 13px;
	margin-right: 15px;
}
.pagesRight{ /*--div share icons--*/
	float: right;
}

.share{ /*--each icons--*/
	width: 30px;
	vertical-align: bottom;
	margin-left: 5px;
	margin-bottom: 20px;
}




/*–––––––––––– Responsive –––––––––––*/

@media only screen and (max-width:585px){
	
	.landing{
		background: color;
	}
	.ressources1{
		width: 300px;
		height: 150px;
		object-fit: cover;
		padding: 3px;
		box-sizing: border-box;
	}
	
}


@media only screen and (max-height:600px){
	
	.landing{
		background: color;
	}
	h1{
		font-size: 21px;
		
	}
	p{
		font-size: 15px;
	}
	a{
		font-size: 12px;
	}
	.pages{
		font-size: 16px;
		margin-top: 3vh;
	}
	.btnOne{
		font-size: 13px;
	}
	
	
	
	
	
	
	
	
	
}