@import '../../constants/ui-constants.css';

.resource-pricing-pill {
    font-family: var(--app-font-regular);
    border: black 1px solid;
    background: transparent;
    color: black;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    outline: none;

    border-radius: 30px;
    font-size: 10px;
    padding: 0.3em 1em;
}

.resource-pricing-pill--green {
    border-color: var(--app-color-green);
    color: var(--app-color-green);
}

.resource-pricing-pill--yellow {
    border-color: var(--app-color-yellow);
    color: var(--app-color-yellow);
}

.resource-pricing-pill--red {
    border-color: var(--app-color-red);
    color: var(--app-color-red);
}
