@import '../../constants/ui-constants';

.layout-header {
    width: 88%;
    margin: auto auto 10px;
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: @app-viewport-breakpoint-mobile) {
        flex-direction: column;
    }

    &__logo {
        width: 80px;
        vertical-align: middle;

        @media (max-width: @app-viewport-breakpoint-mobile) {
            width: 50px;
        }
    }

    &__logo-name {
        font-size : @app-font-size-large;
        font-family: @app-font-medium;
        color: white;
        text-align: center;
        margin: 0;

        a {
            text-decoration: none;
            color: white;
        }
    }

    &__links {
        text-align: right;

        @media (max-width: @app-viewport-breakpoint-mobile) {
            text-align: center;
            margin-top: 15px;
        }
    }

    &__link {
        font-family: @app-font-medium;
        font-size: @app-font-size-medium;
        text-decoration: none;
        color: white;
        vertical-align: middle;
        margin-left: 20px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: white;
        }

        @media (max-width: @app-viewport-breakpoint-mobile) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
