@import '../../constants/ui-constants.css';

.layout-header {
    width: 88%;
    margin: auto auto 10px;
    padding-top: 30px;
    height: 80px;
}

.layout-header__logo {
    width: 80px;
    vertical-align: middle;
}

.layout-header__links {
    float: right;
    text-align: right;
    margin-top: 28px;
}

.layout-header__links--centered {
    float: none;
    text-align: center;
}

.layout-header__link {
    font-family: var(--app-font-medium);
    font-size: var(--app-font-size-medium);
    text-decoration: none;
    color: white;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}

.layout-header__link:hover {
    text-decoration: underline;
    color: white;
}

.layout-header__link--centered {
    margin-left: 10px;
    margin-right: 10px;
}


